/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

:root {
  /* ===== BACKGROUNDS ===== */
  --color-bg: #F8FAFC;
  --color-surface: #FFFFFF;

  /* ===== TEXT ===== */
  --color-text-primary: #0F172A;
  --color-text-secondary: #64748B;

  /* ===== BORDERS ===== */
  --color-border: #E2E8F0;

  /* ===== PRIMARY (Brand) ===== */
  --color-primary: #2563EB;
  --color-primary-hover: #1D4ED8;
  --color-primary-light: #DBEAFE;

  /* ===== STATUS ===== */
  --color-success: #16A34A;
  --color-warning: #F59E0B;
  --color-danger: #DC2626;
}
